@import "../../../app.scss";

.detail-banner {
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  margin-bottom: 30px;

  .backdrop-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    overflow: hidden;

    @include tablet {
      width: 100%;
      height: 100%;
    }

    .backdrop-image {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      object-position: center;
    }
  }

  .gradient-layer {
    width: 100%;
    height: 75px;
    background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #141414 80%);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .movie-details {
    display: flex;
    gap: 50px;
    width: 80vw;
    margin: 0 auto;

    @include tablet {
      gap: 30px;
    }

    @include mobile {
      flex-direction: column;
      align-items: center;
      margin: 0 auto 50px;
    }

    @include xSmall {
      flex-direction: column;
      align-items: center;
      margin: 0 auto 50px;
    }

    .movie-poster {
      max-width: 350px;
      border-radius: 10px;
      cursor: pointer;
      display: block;

      @include tablet {
        max-width: 300px;
      }

      @include mobile {
        max-width: 300px;
      }

      @include xSmall {
        max-width: 250px;
      }
    }

    .lazy-load-image-background.blur.lazy-load-image-loaded {
      transition: transform 0.3s ease-in;

      &:hover {
        transform: translateY(-10px);
      }
    }

    .right {
      margin: 0 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow: hidden;
      z-index: 999;

      @include tablet {
        margin: 0 10px;
      }

      @include mobile {
        margin: 0;
      }

      @include xSmall {
        margin: 0;
      }

      .movie-title {
        font-size: 28px;
        font-weight: 900;
      }

      .movie-genres {
        margin-bottom: 10px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        .genres {
          width: max-content;
          padding: 5px;
          background-color: rgba(255, 0, 0, 0.585);
          color: #fff;
          border-radius: 5px;
        }
      }

      .rating-info {
        display: flex;
        align-items: center;
        gap: 20px;
        z-index: 99;

        @include mobile {
          gap: 10px;
        }

        .play-info {
          display: flex;
          gap: 10px;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all 400ms ease-in;

          &:hover {
            color: rgba(255, 255, 255, 0.7);
            opacity: 0.65;
          }

          .play-movie {
            border: none;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            cursor: pointer;
            transition: all 400ms ease-in;

            &:hover {
              background-color: red;
              color: white;
            }

            .play-icon {
              font-size: 24px;
            }
          }
        }

        .play-title {
          line-height: 1.5;
          font-size: 14px;
        }
      }

      .favourite-toggle {
        cursor: pointer;
      }

      .movie-tagline {
        font-size: 18px;
        font-style: italic;
        font-weight: normal;
        color: rgba(255, 255, 255, 0.7);
        margin: 10px 0;
        line-height: 1.5;
      }

      .overview-info {
        margin-bottom: 10px;

        .overview-heading {
          margin-bottom: 5px;
        }

        .overview-desc {
          padding-right: 20px;
          line-height: 1.5;
          max-width: 700px;
        }
      }

      .movie-info {
        .info-box {
          display: flex;
          flex-wrap: wrap;
          gap: 50px;
          margin-bottom: 10px;

          @include tablet {
            gap: 10px;
            flex-direction: column;
          }

          @include mobile {
            gap: 10px;
            flex-direction: column;
          }

          @include xSmall {
            gap: 10px;
            flex-direction: column;
          }
        }

        .creator-title,
        .writer-title,
        .director-title,
        .runtime-title,
        .release-title,
        .status-title {
          font-weight: 900;
          margin-right: 5px;
        }

        .creator-name,
        .writer-name,
        .director-name,
        .status,
        .runtime,
        .release-date {
          color: rgba(255, 255, 255, 0.7);
        }

        .creator-info,
        .writer-info,
        .directior-info {
          margin: 10px 0;
        }
      }
    }
  }
}
