@import "../../../app.scss";

.discover {
  width: 100%;
  margin: 40px 0 30px;

  .discover-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 25px;

    @include mobile {
      flex-direction: column;
      gap: 10px;
    }

    @include xSmall {
      flex-direction: column;
      gap: 10px;
    }

    .discover-title {
      color: #fff;

      @include xSmall {
        font-size: 18px;
      }
    }
  }
}
