@import "../../../app.scss";

.top-rated {
  width: 100%;
  margin-top: 40px;

  .top-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 25px;

    @include mobile {
      flex-direction: column;
      gap: 10px;
    }

    @include xSmall {
      flex-direction: column;
      gap: 10px;
    }

    .top-title {
      color: #fff;

      @include xSmall {
        font-size: 18px;
      }
    }
  }
}
