@import "../../app.scss";

.myList {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #141414;
  overflow: hidden;
  color: #fff;

  .favContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin: 100px 0 25px;
    position: relative;

    h2 {
      color: white;

      @include mobile {
        font-size: 20px;
      }

      @include xSmall {
        font-size: 20px;
      }
    }

    .heartIcon {
      text-align: center;
      padding-top: 6px;
      color: red;
    }

    .clear-btn {
      width: 80px;
      border: none;
      outline: none;
      border-radius: 5px;
      color: black;
      font-size: 14px;
      font-weight: bold;
      background-color: white;
      padding: 8px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .watchLater {
    margin: 150px 10px;

    .laterTitle {
      color: white;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .favLists {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

    @include mobile {
      justify-content: center;
    }

    @include xSmall {
      justify-content: center;
    }

    .list-item {
      margin-bottom: 40px;

      .remove-fav-btn {
        width: 195px;
        margin-top: 15px;
        padding: 10px;
        border-radius: 10px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        color: #fff;
        background-color: red;
        transition: opacity 0.3s ease-in;

        @include tablet {
          width: 167px;
        }

        @include mobile {
          width: 125px;
        }

        @include xSmall {
          width: 125px;
        }

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
