@import "../../app.scss";

.myList {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #141414;

  .myListcontainer {
    width: 90vw;
    .favContainer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
      justify-content: space-between;
      margin: 100px 0 90px;

      h2 {
        color: white;

        @include mobile {
          font-size: 20px;
        }

        @include xSmall {
          font-size: 20px;
        }
      }

      .heartIcon {
        text-align: center;
        padding-top: 6px;
        color: red;
      }

      .clearBtn {
        margin-left: 50px;
        width: 80px;
        padding: 5px;
        border: none;
        outline: none;
        border-radius: 5px;
        background-color: white;
        color: black;
        font-size: 14px;
        cursor: pointer;
        text-transform: capitalize;
        font-weight: 600;

        @include mobile {
          width: 60px;
          padding: 4px;
          margin-left: 10px;
          font-size: 12px;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .subHeading {
      color: white;
      text-align: center;
      margin: 80px 20px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .favlistItem {
    display: flex;
    flex-wrap: wrap;

    @include tablet {
      justify-content: center;
    }

    @include mobile {
      justify-content: center;
    }
  }
}
