@import "../../app.scss";

.movies {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #141414;
  color: white;
  overflow-x: hidden;

  & .data {
    margin-top: 100px;

    & select {
      cursor: pointer;
      background-color: var(--main-color);
      border: 1px solid white;
      color: white;
      margin: 0 0 20px 50px;
      padding: 5px;
    }

    & .notAvailable {
      text-align: center;
      color: white;
      margin-top: 64px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
