@import "../../../app.scss";

.banner-sk {
  width: 100%;
  margin-bottom: 30px;

  .skeleton-details {
    display: flex;
    gap: 50px;
    width: 80vw;
    margin: 0 auto;

    @include tablet {
      gap: 30px;
    }

    @include mobile {
      flex-direction: column;
    }

    @include xSmall {
      flex-direction: column;
    }

    .sk-left {
      max-width: 350px;
      flex: 1;

      @include tablet {
        flex: none;
      }

      @include mobile {
        margin: 0 auto;
      }

      @include xSmall {
        margin: 0 auto;
      }

      .image-sk {
        height: 524px;
        border-radius: 10px;

        @include tablet {
          width: 300px;
          height: 450px;
          flex: none;
        }

        @include mobile {
          width: 300px;
          height: 450px;
        }

        @include xSmall {
          width: 250px;
          height: 400px;
        }
      }
    }

    .sk-right {
      flex: 1;
      margin: 0 40px 0 20px;

      @include mobile {
        margin: 0;
      }

      @include xSmall {
        margin: 0;
      }

      .sk-title {
        margin-bottom: 15px;
        padding: 5px;
      }

      .sk-genres {
        margin-bottom: 10px;

        .genre-items {
          padding: 5px;
          width: 100px;
          margin-bottom: 15px;
        }
      }

      .sk-rating-info {
        display: flex;
        gap: 30px;
        margin-bottom: 20px;

        .fav-action {
          margin-left: 20px;
        }
      }

      .sk-tagline {
        margin-bottom: 25px;
      }

      .sk-overview-info {
        padding: 2.5px;
        margin-bottom: 15px;
      }

      .sk-overview {
        margin-bottom: 10px;
      }

      .sk-movie-info {
        margin-top: 25px;
      }
    }
  }
}
