.dropDownPage {
  width: 150px;
  height: 150px;
  background-color: var(--main-color);
  border-radius: 10px;
  position: absolute;
  top: 65px;
  left: 120px;
  transform: translateY(20);
  transition: 0.5s ease-in;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    right: 110px;
    width: 15px;
    height: 15px;
    transform: rotate(45deg) translate(-7.5%, -6%);
    background-color: var(--main-color);
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 15px;

    li {
      list-style: none;
      cursor: pointer;

      &:hover {
        color: #8f8f8f;
        text-decoration: underline;
      }
    }
  }
}
